
#animal-container {
    display:flex;
    justify-content:start;
    align-items: center;
    width:80%;
    height: 100%;
    margin:auto;
    border: solid 2px rgb(48, 68, 90);
    border-radius: 10px;
}

#animal-container:hover{
    background-color:rgba(48, 68, 90, 0.302);
    cursor:pointer;
}

#animal-image {
    width:200px;
    height:200px;
    margin-left: 20px;
    margin-right: 20px;
}

#description-container {
    display:flex;
    height:80%;
    width: 80%;
}


.description-container {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    width:25%;
    height:100%;
    margin-right: 20px;
}

#buttons-container {
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    position:relative;
    right: 0;
    background-color:rgb(48, 68, 90);;
    height:100%;
    width: 100px;
}

.animal-button {
    width:50px;
    height:50px;
    border-radius: 100%;
    z-index:2;
}

.animal-button:hover > img {
    filter: brightness(90%);
    cursor: pointer;

}

.button-img {
    width:100%;
    height:100%;
    z-index: 2;
}

