<div id="animal-container">
    <img id='animal-image' [src]="photo" alt="">

    <div id="description-container">
        <div class='description-container' id="container1">
            <div id="name"><b>Nom :</b> {{animalInformations.name}}</div>
            <div id="type"><b>Type :</b> {{animalInformations.type}}</div>
            <div id="espece"><b>Espece :</b> {{animalInformations.espece}}</div>
        </div>
    
        <div class='description-container' id="container2">
            <div id="taille"><b>Taille :</b> {{animalInformations.taille}}</div>
            <div id="poids"><b>Poids :</b> {{animalInformations.poids}}</div>
            <div id="date-de-naissance"><b>Date de naissance :</b> {{animalInformations.dateDeNaissance}}</div>
        </div>
    
        <div class='description-container' id="container3">
            <div id="date-dinscription"><b>Date d'inscription :</b> {{animalInformations.dateDInscription}}</div>
            <div id="etat"><b>Etat :</b> {{animalInformations.etat}}</div>
            <div id="proprietaire"><b>Proprietaire :</b> {{animalInformations.proprietaire}}</div>
        </div>   

    </div>

    <div id="buttons-container">
        <div class = 'animal-button' id="delete-button">
            <img class='button-img' id ="delete-img" src="assets/buttons/delete.png" alt="">
        </div>
        <div class = 'animal-button' id="modify-button">
            <img class='button-img' src="assets/buttons/modify.png" alt="" id="modify-img">
        </div>
        <div class = 'animal-button' id="facture-button">
            <img class='button-img' src="assets/buttons/facture.png" alt="" id="facture-img">
        </div>
    </div>
</div>