#clinic-page-container {
    display: grid;
    width: 99vw;
    height:98vh;
    grid-template-columns: 82% 18%;
    grid-template-rows: 15% 85%;
}

#search-container {
    grid-column: 1 1;
    grid-row: 1 1;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}

#search-img {
    width: 30px;
    height: 30px;
}
#search-input {
    width: 60%;
    height: 50px;
    font-size : 25px;
    padding-left : 30px;
}

#search-button {
    width : 100px;
    cursor: pointer;
    margin-left : 5px;
}

#animals-container {
    display:flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1 2;
    overflow-y:scroll;
}

#animal-component-container {
    display:block;
    margin: 10px;
    width : 98%;
    height:230px;
}

#clinic-information-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2 ;
    grid-row:1;
    grid-row-end: 3;
    background-color:rgb(48, 68, 90);
    padding-top: 50px;
    font-family:Raleway;
    font-size: 30px;
    color:white;
}

#clinic-name {
    font-family: Raleway;
    font-size : 50px;
    color:white;
    margin-bottom: 100px;
}

#clinic-number {
    color:white;
    font-family:Raleway;
    font-size: 30px;
    margin-bottom: 100px;
}

#clinic-adress {
    color:white;
    font-family:Raleway;
    font-size : 20px;
}

#add-animal-btn {
    position:absolute;
    bottom:20px;
    right:20%;
    width:120px;
    height:12s0px;
}

#add-animal-btn:hover {
    cursor:pointer;
}

#add-animal-btn:hover #add-img {
    filter: brightness(60%);
}

#add-img {
    width:100%;
    height:100%;
    z-index:3;
}
