<div id="clinic-page-container">
    <div id="search-container">
        <input type="text" id="search-input">
        <button id="search-button">
            <img src="assets/search-icon.png" alt="" id="search-img">
        </button>
    </div>

    <div id="animals-container">
        <div id="animal-component-container" *ngFor="let animal of animals">
            <app-animal-component [animalInformations] = animal></app-animal-component>
        </div>
    </div>

    <div id="clinic-information-container">
        clinic
        <div id="clinic-name">{{clinicInformation.name}}</div>
        <div id="clinic-adress">{{clinicInformation.adress}}</div>
        
    </div>

    <div id="add-animal-btn">
        <img id='add-img' src="assets/clinic-images/add.png" alt="">
    </div>

</div>
