<div id="animal-container">
    <img id='animal-image' [src]="photo" alt="">

    <div id="description-container">
        <div id="name">{{animalInformations.name}}</div>
        <div id="type">{{animalInformations.type}}</div>
        <div id="espece">{{animalInformations.espece}}</div>
        <div id="taille">{{animalInformations.taille}}</div>
        <div id="poids">{{animalInformations.poids}}</div>
        <div id="date-de-naissance">{{animalInformations.dateDeNaissance}}</div>
        <div id="date-dinscription">{{animalInformations.dateDInscription}}</div>
        <div id="etat">{{animalInformations.etat}}</div>
        <div id="proprietaire">{{animalInformations.proprietaire}}</div>
    </div>

</div>